#main .container
{
	margin-left:30px !important;
}
#main .container .what_is_relax
{
	width:104px;
	height:106px;
	background:#f33843;
	background-image:url(../image/bubble_what_is_relax_bg.png);
	background-repeat:no-repeat;
	background-position:-10px;
	margin-left:70px;
	
}
#main .container .what_is_relax p
{
	padding-top:.8em;
	font-size:1.8em;
}
#main .container .what_is_relax a
{
	text-decoration:none;
}
#main .container .stress_and_teen
{
	width:116px;
	height:117px;
	background:#a8bd3a;
	background-image:url(../image/bubble_stress_and_teen_bg.png);
	background-repeat:no-repeat;
	background-position:0px 2px;
	margin-left:190px;
	margin-top:-90px;	
}
#main .container .stress_and_teen p
{
	padding-top:0.8em;
	font-size:1.8em;
}
#main .container .stress_and_teen a
{
	text-decoration:none;
}
#main .container .bubble_green
{
	margin-left:700px;
	margin-top:-150px;	
	height:20px;
}
#main .container .bubble_orange
{
	margin-left:70px;
	margin-top:-30px;
	height:37px;	
}
#main .container .how_to_use_relax
{
	width:112px;
	height:113px;
	background:#fe6c17;
	background-image:url(../image/bubble_how_to_use_relax_bg.png);
	background-repeat:no-repeat;
	background-position:0px 2px;
	margin-left:600px;
	margin-top:-160px;
}
#main .container .how_to_use_relax p
{
	padding-top:1em;
	font-size:1.5em;
}
#main .container .how_to_use_relax a
{
	text-decoration:none;
}
#main .container .logo
{
	width:252px;
	height:142px;
	background-image:url(../image/logo.png);
	background-repeat:no-repeat;
	background-position:0px 2px;
	margin-left:330px;
	margin-top:-80px;	
}
#main .container .play_self_assesment
{
	width:92px;
	height:93px;
	background:#e4d411;
	background-image:url(../image/bubble_play_self_assesment_bg.png);
	background-repeat:no-repeat;
	background-position:-5px 2px;
	background-size:135px 150px;
	margin-left:720px;
	margin-top:-140px;
}
#main .container .play_self_assesment p
{
	padding-top:0.5em;
	font-size:2.8em;
}
#main .container .play_self_assesment a
{
	text-decoration:none;
}
/* Slideshow style rules. */
#slideshow {
	margin:0 auto;
	width:640px;
	min-height:263px;
	position:relative;
}
#slideshow #slidesContainer {
  margin:0 auto;
  width:560px;
  min-height:263px;
  overflow:auto; /* allow scrollbar */
  position:relative;
}
#slideshow #slidesContainer .slide {
  margin:0 auto;
  width:540px; /* reduce by 20 pixels of #slidesContainer to avoid horizontal scroll */
  min-height:263px;
}

/* Slideshow controls style rules. */
.control {
  display:block;
  width:39px;
  height:22px;
  text-indent:-10000px;
  position:absolute;
  cursor: pointer;
}
#leftControl {
  top:30%;
  left:-15%;
  background:transparent url(../image/arrow_left.png) no-repeat 0 0;
}
#rightControl {
  top:30%;
  right:-15%;
  background:transparent url(../image/arrow_right.png) no-repeat 0 0;
}
.slide p {
  font-family:"KhmerUI 0";
  color:#5e5e5d;
  font-size:1em;
  margin-top:-20px;float:left;
}
.slide h2 {
  font-family:"KABELN_0";
  color:#fe6c17;
  font-size:2em;float:left;
  margin-bottom:60px;
}
.slide img {
  float:left;
  margin:20px 0 0 15px;
}